<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us - Disease Prediction Project</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
  </style>
</head>

<body>
  <div class="navbar">
    <div class="nav-logo">
      <img src="https://i.ibb.co/4mCMLQW/health-care-colution-page-0001-1.jpg" alt="logo">
    </div>
    <div>
      <a class="nav-item" href="/home" id="home">
        <h4>Home</h4>
      </a>
    </div>
    <div>
      <a href="/about" class="nav-item" id="about">
        <h4>About</h4>
      </a>
    </div>
    <div>
      <a href="/resources" class="nav-item" id="resources">
        <h4>Resources</h4>
      </a>
    </div>
    <div>
      <a href="#" class="nav-item" id="contact">
        <h4>Contact Us</h4>
      </a>
    </div>
    <div>
      <a href="/disclaimer" class="nav-item" id="disclaimer">
        <h4>Disclaimer</h4>
      </a>
    </div>
  </div>
  <div class="contact-container">
    <h1>Contact Us</h1>
    <p class="description">This project is part of our final year bachelor's degree at VIT-AP University.</p><br><br>
    <p class="email">Write us to:<br><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
        <path
          d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
        </svg>
      <a href="mailto:projectname@university.edu">intellihealth.d@domain.com</a></p><br><br>

    <p class="disclaimer">Disclaimer: This project is for educational purposes and part of an academic program.</p>
  </div>
</body>

</html>